h2 {
    font-size: 30px;
    color: white;
    margin: 5px;
    font-weight: bold;
}

p{
    font-size: 18px;
    color: white;
    margin: 5px;
}

#tiempo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}